@model IEnumerable<LAB01_2530019_1203819.Models.Player>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<p>
    Selecione la busqueda que desea
</p>
<form asp-controller="Player" asp-action="Search">

    <select name="Filter">
        class="form-select" aria-label="Default select example">
        <option selected>Filtros de busqueda</option>
        <option value="Nombre">Nombre</option>
        <option value="Apellido">Apellido</option>
        <option value="Posición">Posición</option>
        <option value="Salario Mayor A">Salario  Mayor A</option>
        <option value="Salario Menor A">Salario Menor A</option>
        <option value="Salario Igual A">Salario Igual A</option>
        <option value="Club">Club</option>
    </select>
    <div class="input-group mb-3">
        <input name="Param" type="text" class="form-control" placeholder="Escribir" aria-label="x" aria-describedby="basic-addon2">
        <input type="submit" value="Buscar" class="btn btn-primary" />
    </div>
</form> 


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Club)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Last_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Base_salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Guaranteed_compensation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Club)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Last_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.First_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Position)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Base_salary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Guaranteed_compensation)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
